
@{
    ViewBag.Title = "Customers";
}

<h3>Customers</h3>

<div class="container-fluid">
    <div class="container">
        <table class="table table-hover table-bordered table-responsive">
            <tr class="btn-info">
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>EMAIL</th>
                <th>PASSWORD</th>
                <th>CONFIRMEDPASSWORD</th>
                <th>PROCESS</th>
            </tr>
            @foreach (var cust in ViewBag.CustomersModel)
            {
                <tr>
                    <td>@cust.Firstname</td>
                    <td>@cust.Lastname</td>
                    <td>@cust.Email</td>
                    <td>@cust.Password</td>
                    <td>@cust.confirm_password</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm">EDIT</button> |
                        <button type="button" class="btn btn-danger btn-sm">DELETE</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



